@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Oswald:wght@600&display=swap');
.container__1{
    display: flex;
    margin-right: 20px;
}
.top{
    margin-right: 20px;
    
    margin-top: 7px;
    color:white;
}

.top:hover{
    color: #212121;
    transition: 0.3s ease;
}
.main{
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
    
    background-color: #FFC0CB;
    background-color: #1AA7EC;
    
    /* display: none; */
    padding-top: 10px;
    padding-bottom: 10px;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
#search{
    border-radius: 10px;
    height: 35px;
    margin-right: 20px;

}
button{
    font-weight: bold;


    
}
h1{
    /* margin-top: 50%; */
    /* margin-left: 50px; */
}
.btn{
    margin-right: 2px;
}
#btt{
    margin-right: 5px;
}
#logo{
    width: 100px;
    margin-right: 50px;
}

button::placeholder{
    text-align: center;

}
.container__2--para{
    
    margin-left: 58px;
    color: #808080;
    font-size: 25px;
    font-weight: 500;
    opacity: 0.6;


}
.form-control{
    background-color: #1AA7EC;
}
.container__2{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    height: 400px;
    padding-top: 50px;
}
.container__2--heading{
    margin-left: 50px;
    font-size: 90px;
    font-family: 'Fredoka One', cursive;
    font-weight: 300;
   
}
.container__2--btn{
    margin-left: 140px;
    margin-top: 30px;
}

.bg{
    width: 500px;
    margin-top: 50px;
    
}



.container__3--heading{
  margin-top: 80px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-family: 'Fredoka One', cursive;
  margin-bottom: 20px;
  margin-top: -70px;
}


.container__4{
  display: flex;
  justify-content: space-evenly;
  height: 220px;
  background: lightpink;
  padding-bottom: 40px;
  padding-top: 40px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #e7f9f3;  
}
.bars{
    height: 30px;
    
  }
  *{
    margin: 0px;
  }
  .cart{
    display: flex;
    justify-content: flex-end;
    height: 50px;
    margin-top:-10px; 
    /* padding-top: 10px; */
  }
  .nav-mobile{
    position: sticky;
    display:none;
    top: 0;
    display: flex;
    justify-content: space-between;
    margin-right: 0px;
    background-color: whitesmoke;
    background-color: #1AA7EC;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 3.2px 7.2px 0 rgb(0 0 0 / 13%), 0 0.6px 1.8px 0 rgb(0 0 0 / 11%);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px;
  }
  .user{
    display: flex;
    justify-content: flex-end;
    height: 30px;
    margin-right: 0px;
    font-weight: bold;
  }

@media screen and (max-width:767px){
    .container__4 img{
        width: 100px;
        height: 70px;
    }
    .container__2{
        flex-direction: column;
        align-items: center;
    }
    .container__2 img{
        width: 250px;
        margin-left: 4%;
    }
    .item1{
        order: 2;
        text-align: center;
    }
    .main{
        display: none;
    }
    #btn{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .container__2--heading{
        font-size: 60px;
        margin-left: 7%;
        
    }
}
